html {
  height: 100vh;
  font-family: 'Oswald', sans-serif;
  background-color: #333333;
}

p {
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #565656;
  text-align: center;
  font-size: medium;
  color: whitesmoke;
}

.page-title {
  font-size: 45px;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px;
  list-style-type: none;
  width: 260px;
  height: 285px;
  border-radius: 5px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 6px 5px #565656;
}

img {
  border-radius: 50%;
  box-shadow: 2px 2px 5px #333333;
}

button {
  margin-bottom: 10px;
  border: none;
  background-color: #333333;
  color: white;
  height: 20px;
  width: 120px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  box-shadow: 1px 1px 5px #565656;
  transition: box-shadow .2s, background-color .2s, color .2s;
}

button:hover {
  box-shadow: none;
  background-color: #565656;
  font-family: 'Oswald', sans-serif;
  color: white;
}
 
i {
  color: #333333;
}